.idea/
.php_cs.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/infection.json
/phpstan.neon

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
bin/.phpunit
###< phpunit/phpunit ###
