{
  "source": {
    "directories": [
      "src"
    ]
  },
  "timeout": 10,
  "logs": {
    "text": "var/log/infection/infection.log",
    "summary": "var/log/infection/summary.log",
    "perMutator": "var/log/infection/per-mutator.md"
  },
  "phpUnit": {
    "customPath": "bin/phpunit"
  },
  "tmpDir": "var/cache/infection"
}
