{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Kernel.php"
        ]
    },
    "timeout": 15,
    "logs": {
        "text": "var/log/infection/infection.log",
        "summary": "var/log/infection/summary.log",
        "perMutator": "var/log/infection/per-mutator.md"
    },
    "mutators": {
        "@default": true,
        "@removal": false
    },
    "phpUnit": {
        "customPath": "bin/phpunit"
    },
    "tmpDir": "var/cache/infection"
}
