parameters:
  bootstrapFiles:
    - vendor/autoload.php
    - bin/.phpunit/phpunit-8.5-0/vendor/autoload.php
  level: max
  paths:
    - src
    - tests
  symfony:
    container_xml_path: 'var/cache/test/OAT_SimpleRoster_KernelTestDebugContainer.xml'
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  doctrine:
    repositoryClass: OAT\SimpleRoster\Repository\AbstractRepository
  ignoreErrors:
    # In tests we control the JSON content, it will be always a valid string
    - message: '#^(.+) of function json_decode expects string, string\|false given.$#'
      path: tests
    # Doctrine docblock error, Doctrine\Common\Persistence\ManagerRegistry always returns an instance of EntityManagerInterface
    - message: '#^Method (.+)::getEntityManager\(\) should return Doctrine\\ORM\\EntityManagerInterface but returns Doctrine\\Persistence\\ObjectManager.$#'
      path: tests
    # There is always a request object
    - message: '#^Cannot access property \$attributes on Symfony\\Component\\HttpFoundation\\Request\|null.$#'
      path: src/Security/Provider/UserProvider.php
    # Date will never be null (its validated before)
    - message: '#^Cannot call method setTimezone\(\) on Carbon\\Carbon\|false\.$#'
      path: src/Request/ParamConverter/CreateLineItemParamConverter.php
    # Monolog internal
    - message: '#^Parameter \#(.+) \$level of method Monolog\\Handler\\TestHandler\:\:hasRecord|getLevelName|harRecordThatContains\(\) expects 100\|200\|250\|300\|400\|500\|550\|600\|string, int given.$#'
      path: tests
    # Doctrine internal
    - message: '#^Parameter \#1 \$className of method Doctrine\\ORM\\EntityManagerInterface\:\:getRepository\(\) expects class-string\<object\>, string given.$#'
      path: tests
    # Doctrine internal
    - message: '#^Unable to resolve the template type T in call to method Doctrine\\ORM\\EntityManagerInterface\:\:getRepository\(\)$#'
      path: tests
    # Possible null date time formatting
    - message: '#^Cannot call method format\(\) on DateTimeInterface\|null\.$#'
      path: tests
