includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  # Workaround for Symfony's phpunit-bridge
  autoload_files:
    - bin/.phpunit/phpunit-6.5/vendor/autoload.php
  paths:
    - src
    - tests
  symfony:
    container_xml_path: '%rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml'
  doctrine:
    repositoryClass: App\Repository\AbstractRepository
  # Temporary solution: https://github.com/phpstan/phpstan-symfony/issues/4
  ignoreErrors:
    - message: '#^Service "[^"]+" is private.$#'
      path: %rootDir%/../../../tests
    - message: '#Parameter \#1 \$message of method Symfony\\Component\\Console\\Style\\SymfonyStyle::success\(\) expects array\|string, App\\Ingester\\Result\\IngesterResult given\.#'
      path: %currentWorkingDirectory%/src/Command/Ingester/IngesterCommand.php
    - message: '#Parameter \#1 \$message of method Symfony\\Component\\Console\\Style\\SymfonyStyle::warning\(\) expects array\|string, App\\Ingester\\Result\\IngesterResult given\.#'
      path: %currentWorkingDirectory%/src/Command/Ingester/IngesterCommand.php
    - message: '#Strict comparison using === between null and string will always evaluate to false\.#'
      path: %currentWorkingDirectory%/src/Request/ParamConverter/BulkOperationCollectionParamConverter.php
    - message: '#Parameter \#1 \$em of class Doctrine\\ORM\\Tools\\SchemaTool constructor expects Doctrine\\ORM\\EntityManagerInterface, Doctrine\\Common\\Persistence\\ObjectManager given\.#'
      path: %currentWorkingDirectory%/tests