parameters:
  bootstrapFiles:
    - vendor/autoload.php
    - bin/.phpunit/phpunit-8.3-0/vendor/autoload.php
  paths:
    - src
    - tests
  symfony:
    container_xml_path: 'var/cache/test/OAT_SimpleRoster_KernelTestDebugContainer.xml'
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  doctrine:
    repositoryClass: OAT\SimpleRoster\Repository\AbstractRepository
  ignoreErrors:
    # In tests we control the JSON content, it will be always a valid string
    - message: '#^(.+) of function json_decode expects string, string\|false given.$#'
      path: tests
    # Doctrine docblock error, Doctrine\Common\Persistence\ManagerRegistry always returns an instance of EntityManagerInterface
    - message: '#^Method (.+)::getEntityManager\(\) should return Doctrine\\ORM\\EntityManagerInterface but returns Doctrine\\Persistence\\ObjectManager.$#'
      path: tests
    # There is always a request object
    - message: '#^Cannot access property \$attributes on Symfony\\Component\\HttpFoundation\\Request\|null.$#'
      path: src/Security/Provider/UserProvider.php
    # Symfony CLI parameter handling
    - message: '#^Cannot cast array<string>(\|bool)?\|string\|null to (int|string).$#'
      path: src/Command
